<!-- Start Top Bar -->
<div class="top-bar top-head">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-logo"><img src="assets/img/logo-ghsc.png" alt="GHSC logo"></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <li><a href="#">Join Now</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</div>
<!-- End Top Bar -->
<div data-sticky-container>
    <nav class="menu main-menu" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="main-menu" id="main-menu">
        <div class="top-bar">
            <div class="top-bar-title">
                <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                    <button class="menu-icon light" type="button" data-toggle></button>
                </span>
                <img src="assets/img/logo-small.png" alt="GHSC logo" class="menu-logo-small">
            </div>
            <div id="responsive-menu">
                <ul class="menu" data-dropdown-menu>
                    <!-- <li>
                        <button class="button" type="button" data-toggle="example-dropdown-1">Human Capital</button>
                        <div class="dropdown-pane" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
                          Just some junk that needs to be said. Or not. Your choice.
                        </div>
                    </li>
                    <li>
                        <button class="button" type="button" data-toggle="example-dropdown-2">Service Enabler</button>
                        <div class="dropdown-pane" id="example-dropdown-2" data-dropdown data-hover="true" data-hover-pane="true">
                          Just some junk that needs to be said. Or not. Your choice.
                        </div>
                    </li>
                    <li>
                        <button class="button" type="button" data-toggle="example-dropdown-3">Knowledge</button>
                        <div class="dropdown-pane bottom" id="example-dropdown-3" data-dropdown data-hover="true" data-hover-pane="true">
                          Just some junk that needs to be said. Or not. Your choice.
                        </div>
                    </li>
                    <li>
                        <button class="button" type="button" data-toggle="example-dropdown-4">About GHSC</button>
                        <div class="dropdown-pane bottom" id="example-dropdown-4" data-dropdown data-hover="true" data-hover-pane="true">
                          Just some junk that needs to be said. Or not. Your choice.
                        </div>
                    </li> -->
                    <li class="menu-human-capital">
                        <button class="button" type="button">Human Capital</button>
                    </li>
                    <li class="menu-service-enabler">
                        <button class="button" type="button">Service Enabler</button>
                    </li>
                    <li class="menu-knowledge">
                        <button class="button" type="button">Knowledge</button>
                    </li>
                    <li class="menu-about">
                        <button class="button" type="button">About GHSC</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

