div.top-head {
    padding: 2rem;
}

.main-menu {
    background-color: $black;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    transition: background-color 0.25s ease-out, color 0.25s ease-out;

    .menu-logo-small {
        width: 43px;
        margin: 0px;
        opacity: 0;
        transition: opacity 0.25s ease-out;
    }

    .top-bar {
        padding: 0;
        background-color: transparent;
        text-align: center;
        .top-bar-title {
            position: absolute;
        }
        ul {
            background-color: transparent;
            li {
                display: inline-block;
                border-top: 3px solid #fff;
                margin: 0 -5px;
                &.menu-human-capital { border-top-color: $brand-color; }
                &.menu-service-enabler { border-top-color: #FFC000; }
                &.menu-knowledge { border-top-color: #BD0FE1; }
                &.menu-about { border-top-color: #7ED321; }
            }
        }
    }

    .button {
        background-color: $black;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }

    &.is-stuck {
        background-color: white;
        .button {
            background-color: $white;
            color: $brand-color;
        }
        .menu-logo-small {
            opacity: 1;
        }
    }
}

.primary-cta {
    background-color: $brand-color;
    text-align: center;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    .subscribe {
        background-color: $brand-color;
        padding: 30px;
        h3 {
            text-align: center;
        }
    }
}

.dark-contrast {
    p, h1, h2, h3, h4, h5, h6, a {
        color: $white;
    }
}